main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cards-field {
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 1.5em;
  grid-auto-flow: row;
  }
@media (max-width: 1200px) {
    .cards-field{
      grid-template-columns: repeat(4, 1fr);
      }
  }
  @media (max-width: 900px) {
    .cards-field{
      grid-template-columns: repeat(2, 1fr);
    }
  }


